@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;

}

/* Header section */

header {
    height: 850px;
    margin: 30px 170px 0 170px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.nav-logo {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-logo>span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.right-nav>ul {
    display: flex;
    list-style: none;

}

.right-nav>ul>li {
    margin-right: 44px;
    font-size: 18px;
    font-weight: 400;
}

.right-nav>ul>li>a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

.right-nav>ul>li>a {

    font-size: 18px;
    font-weight: 400;
}

.right-nav>ul>li>a>span {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

/* Banner section */
.banner {
    width: auto;
    height: 700px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    
    support session
    */

    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),

        url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-heading {
    padding-top: 150px;
}

.banner-heading>h2 {
    text-align: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-heading>p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/*  */
.banner-input {
    margin: 70px auto;
    width: 870px;
    height: 80px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;



}

.input-field {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.banner-button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    cursor: pointer;
}

.input-field {
    padding-left: 15px;

}


/* placeholer use korte hole ::placeholder use korte hoy */
::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;

}

/* Main section start */
main {
    margin: 130px 170px 0 170px;
}

.tour {
    display: flex;
    gap: 53px;
}

.tour-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.destination>p {
    padding: 24px 0;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.tour-description>p {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;

}


.tour-description>li {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    padding-bottom: 10px;

}

.destination {
    margin-top: 100px;
}

.destination-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    text-align: center;


}

.row1 {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.row1>img {
    margin-top: 50px;
    width: 800px;
}

.row2 {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;

}

/* .row2 > img{
    width: 500px;
    height: 400px;
} */
.row2-1 {
    width: 550px;
}

.row2-2 {
    width: 600px;
}

.row2-3 {
    width: 450px;
}

.row3 {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;

}

.row3-1 {
    width: 700px;
}

.row3-2 {
    width: 850px;
}

/* .row3{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;

} */
/* .row3 > img{
    width: 900px ;
} */

/* Header for mobile */

/* Choose us section */
.choose-us {
    margin-top: 150px;
}

.choose-us-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.choose-us>p {
    text-align: center;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}

.box-container1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.box1 {
    padding: 30px;
    width: 600px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.box-heading {
    color: #131318;
    font-size: 28px;
    font-weight: 800;
}

.box-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}


.box2 {
    padding: 30px;
    width: 600px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

}

.box-container2 {
    padding: 30px;
    width: 600px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin: 50px auto;

}

/* Deal section */

.discount {
    margin-top: 150px;
}

.discount>p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    text-align: center;
}

.discount-banner1 {
    margin-top: 50px;
    max-width: auto;
    height: 700px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Images/Group\ 39.png");

}

.discount-box1 {
    width: 600px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    left: 800px;
    top: 170px;
    padding: 50px;

}

.discount-box2 {
    width: 600px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    left: 100px;
    top: 170px;
    padding: 50px;

}

.discount-banner2 {
    max-width: auto;
    height: 700px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Images/Group\ 40.png");
    margin-top: 30px;
    margin-bottom: 30px;

}

.discount-box-heading {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.discount-box-descriptinon {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.discount-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.discount-nav {
    display: flex;
    gap: 90px;
}

.clock {
    display: flex;
    gap: 5px;
}

.member {
    display: flex;
    gap: 5px;
}

.country {
    display: flex;
    gap: 5px;

}

.discount>.banner-button {
    margin: 20px auto;
}

/* Discount end */
.video {
    margin-top: 150px;

}


.video-description>li {
    color: #131318;
    font-weight: 700;
    padding: 10px;


}

.video-description>.banner-button {
    margin-top: 20px;
}

.video {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.main-main-video {
    /* width="500" height="auto" */
    width: auto;
    height: 500px;
    border-radius: 10px;
}

.video1-description {
    color: #5A5A5D;

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width:600px) {
    header {
        margin: 5px 5px 0 5px;
        height: 681px;
    }

    nav {
        flex-direction: column;

    }

    .left-nav {
        justify-content: start;
    }

    .right-nav>ul {
        position: relative;
        right: 20px;
    }

    .right-nav>ul>li {
        margin-right: 13px;
    }

    .banner {
        width: 505px;
        height: 489px;
        background-size: auto;
        margin: 0 auto;

    }

    .banner-heading {
        padding-top: 3px;
    }

    .banner-heading>h2 {
        margin-top: 34px;
        font-size: 25px;
    }

    .banner-heading>p {
        padding: 7px;
        font-size: 14px;
    }

    .banner-input {
        margin: -1px 55px;
        width: 254px;
        height: 275px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.30);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        position: relative;
        left: 64px;
    }

    .banner-button {
        width: 191px;
        height: 52px;
    }

    main {
        margin: 5px;
    }

    .tour {
        flex-direction: column;
    }

    .tour-heading {
        font-size: 30px;
    }

    .tour-description {
        padding: 40px;
    }

    .tour-image {
        display: flex;
        justify-content: center;
    }

    .row1 {
        flex-direction: column;
    }

    .row1>img {
        width: auto;
    }

    .row2 {
        flex-direction: column;
    }

    .row2>.row2-1,
    .row2-2,
    .row2-3 {
        width: auto;
    }

    .row2-1,
    .row2-2,
    .row2-3 {
        height: 350px;
    }

    .row3 {
        flex-direction: column;
    }

    .row3-1,
    .row3-2 {
        width: auto;

    }

    .row3-1,
    .row3-2 {
        height: 350px;

    }

    .row1>img {
        margin-top: -4px;
    }

    .box-container1 {
        flex-direction: column;
    }

    .box1,
    .box2,
    .box-container2 {
        width: 512px;

    }

    .discount-banner1,
    .discount-banner2 {
        height: 560px;
    }

    .discount-box1,
    .discount-box2 {
        width: 455px;
        height: 310px;
        position: relative;
        left: 8px;
        top: 75px;

    }

    .video {
        flex-direction: column;
        gap: 25px;
    }
    .main-main-video{
        height: 325px;
    }


}